*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.contenitore{
    width: 80%;
    margin: auto;
}

/*header*/
.testata{
    width: 100%;
    margin-top: 1em;
    
}

.logo-sito{
    height: 65px;
    margin-bottom: 2em;
}

a{
    font-size: 14px;
    margin-right: 1em;
    text-decoration: none;
    color: grey
}
/*fine header*/

/*inizio main*/
/*css ragazza che medita e scritta*/
.primo-piano{
    margin: auto;
    width: 100%;
    height: 400px;
    margin-top: 2em;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 20% 45% 10% 5%;
    border-radius: 2%;
}

.titolo-primo-piano,
.scritta-primo-piano{
    color: rgba(10, 10, 10, 0.836);
}
/*fine css ragazza che medita e scritta*/

/*blocco celeste superiore*/
.sopra{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 5em;
}

.scritta-blocco-sopra{
    font-size: 0.7em;
    color: grey;
}

/*css tre colonne*/
/*caratteristiche in comune dei tre blocchi float*/
[class*="colonna-"] {
    float: left;
    /*border-top: 15px solid blue;
    border-bottom: 15px solid blue;*/
}

.immagine{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 2%;
}

.colonna-lato{
    width: 25%;
}

.colonna-centrale {
    width: 50%;
}

.sinistra{
    border-right: 10px solid white;
}

.destra{
    border-left: 10px solid white;
}

.testo-blocchi-float{
    color: grey;
}
/*fine css tre colonne*/
/*fine main*/

/*inizio footer*/
footer{
    margin-left: 40%;
    width: 100%;
    margin-top: 5em;
    height: 6em;
    margin-bottom: 10px;
}

.cuore{
    color: red;
}
/*fine footer*/